.gallery {
  padding: 22px 0 10px;
}

.gallery__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 32px;

  @include vp-767 {
    grid-template-columns: repeat(2, 1fr);
  }

  @include vp-479 {
    display: block;
  }
}

.gallery__item {
  padding-bottom: 22px;
}

.gallery__image-wrapper {
  margin-bottom: 8px;
}

.gallery__image-link {
  border-radius: 8px;
  display: block;
  overflow: hidden;
  transition: transform $trans-default;

  @include not-touchscreen {
    &:hover {
      transform: scale(1.05);
    }

    &:focus {
      outline: 3px solid $color-neon-blue;
    }

    &:active {
      outline: none;
    }
  }
}

.gallery__image {
  display: block;
  width: 100%;
  height: 216px;
  object-fit: cover;
}

.gallery__image-id {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}
