// Colors
$color-default-black: #000000;
$color-default-white: #ffffff;
$color-whisper: #e5e5e5;
$color-black-russian: #111827;
$color-link-water: #d1d5db;
$color-cloud-burst: #374151;

// Body width
$mobile-width: 320px;

// Containers
$desktop-container: 1398px;

// Viewports
$vp-320:                            320px;
$vp-768:                            768px;
$vp-1024:                           1024px;
